ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 50vw;
  width: 50vw;
  margin: 10px auto;
  padding: 0;
  position: relative;
.pageItem,.pageNext, .pagePrevious{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .activeLink{
    background: #3338db;
    &:hover, &:active{
      background: #3338db;
    }
  }
  
  .pageLink,.pageNextLink,.pagePreviousLink {
    background: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    &:hover, &:active{
      background: #4e87cb;
    }
  }
}
}


@media (max-width: 644px) {
  ul{
    justify-content: space-evenly;
    min-width: 70vw;
    
  .pageLink{
    display: none;
  }
  .pagePreviousLink,.pageNextLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  .pageNextLink{
    width: 110px;
  }
  }
}